version: '3'

services:
  nginx:
    image: nginx:1.13
    ports:
      - 80:80
    logging:
      driver: fluentd  
      options:
        fluentd-address: localhost:24224
        tag: nginx.access
    depends_on:  
      - "fluentd" 
    volumes:
      - ./src:/usr/share/nginx/html

  mongo:
    image: mongo
    restart: always
    ports:
      - 8081:8081
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  fluentd:
    container_name: fluentd
    image: jsliang/fluentd-plugin-mongo
    restart: always
    ports:
      - 24224:24224
      #- 9880:9880  #web interface
    volumes:
      - ./fluentd:/fluentd/etc
      # - ./data/fluentd/log:/fluentd/log
      # - ./data/fluentd/pos:/fluentd/pos
      # - /opt/dionaea/var/lib/dionaea:/fluentd/sources/dionaea
      # - /opt/cowrie-docker/data/log:/fluentd/sources/cowrie
    # environment:
    #   - FLUENTD_CONF=fluentd.cfg
    #  FLUENT_UID:
